* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before {
  margin: 0;padding: 0;box-sizing: border-box;
}
*::after {
  margin: 0;padding: 0;box-sizing: border-box;
}
html, body, .App {
  min-height: 100dvh;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
}

:root {
  --secondary-dark: #171A21;
  --secondary-light: #8ec9f3;
  --primary-dark: #FF8811;
  --primary-light: #eeb155;
  --background-light: #E8DDB5;
  --font-light: #EEEEEE;
}

/********************** 
      HEADER STYLES
***********************/
.header {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: space-between;
  background: var(--secondary-light);
  padding: 1em;
  padding-inline: 2em;
}
.logout-button {
  padding: .5em;
  background-color: transparent;
  border: 2px solid var(--secondary-dark);
  border-radius: 5px;
  color: var(--secondary-dark);
  font-weight: bold;
  transition: 150ms;
}
.logout-button:hover, .logout-button:focus {
  cursor: pointer;
  color: var(--font-light);
  background-color: var(--primary-light);
  border-color: var(--primary-dark);
}
/********************** 
      FOOTER STYLES
***********************/
.footer {
  color: var(--secondary-dark);
  background-color: var(--primary-dark);
  padding: 1em;
  padding-inline: 2em;
}
/********************** 
      FORM STYLES
***********************/
.form {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-dark);
  border-radius: 5px;
  width: min(95vw, 35em);
  gap: .5em;

  text-align: center;
}
.form p {
  padding-top: 2em;
  font-size: small;
}
.form-link {
  text-decoration: none;
  color: var(--primary-dark);
  font-weight: 500;
}
.form-link:hover {
  text-decoration: underline;
}
.form input {
  display: block;
  margin-inline: auto;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--secondary-dark);
  padding: .4em;
  transition: 150ms;
}
.form input:focus {
  outline: none;
  background-color: var(--background-light);
  border-radius: 5px 5px 0 0;
}
.form input::placeholder {
  color: rgb(107, 107, 107);
}
.form-button {
  border: none;
  padding: 1em;
  font-weight: bold;
  background-color: var(--secondary-light);
  transition: 250ms;
  font-size: 1.1rem;
}
.form-button:hover {
  cursor: pointer;
  color: var(--font-light);
  background-color: var(--primary-light);
}
/********************** 
    LOGIN PAGE STYLES
***********************/
.login-main {
  display: grid;
  place-items: center;
}
/********************** 
  REGISTER PAGE STYLES
***********************/
.register-main {
  display: grid;
  place-items: center;
}
/********************** 
    RECIPE STYLES
***********************/
.recipes {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.recipe {
  border: 2px solid var(--primary-dark);
  border-radius: 3px;
  margin: 2em;
  padding: .5em;
}
.recipe-header {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
}
.recipe-time {
  align-self: center;
  font-weight: bold;
  color: var(--secondary-dark);
}
.recipe-description {
  font-size: .87rem;
  width: fit-content;
  color: rgb(51, 51, 51);
  border-bottom: 1px solid black;
}
.recipe-ingredients {
  list-style-type: circle;
  border-bottom: 1px solid black;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.recipe-ingredient {
  margin-left: 2em;
  padding-block: .2em;
}
.recipe-directions {
  list-style-type: decimal;
}
.recipe-direction {
  margin-left: 2em;
}
/********************** 
    DASHBOARD STYLES
***********************/
.dashboard-container {
}