* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before {
  margin: 0;padding: 0;box-sizing: border-box;
}
*::after {
  margin: 0;padding: 0;box-sizing: border-box;
}
html, body, .App {
  min-height: 100dvh;
  min-height: 100vh;
}

.App {
  background-color: #f9e3c0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/********************** 
      HEADER STYLES
***********************/
.header {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  background: rgb(249,227,192);
  background: linear-gradient(-20deg, rgba(249,227,192,1) 0%, rgb(245, 176, 72) 100%);
  padding: 1em;
}
/********************** 
      FOOTER STYLES
***********************/
.footer {
  color: rgb(238, 238, 238);
  background-color: rgb(97, 38, 4);
  padding: 1em;
}
/********************** 
      FORM STYLES
***********************/
.form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  width: min(95vw, 35em);
  gap: .5em;

  text-align: center;
}
.form p {
  padding-top: 2em;
  font-size: small;
}
.form-link {
  text-decoration: none;
  color: rgb(97, 38, 4);
  font-weight: 500;
}
.form input {
  display: block;
  margin-inline: auto;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(97, 38, 4);
  padding: .4em;
  transition: 150ms;
}
.form input:focus {
  outline: none;
  background-color: rgb(241, 206, 149);
  border-radius: 5px 5px 0 0;
}
.form input::placeholder {
  color: rgb(107, 107, 107);
}
.form-button {
  border: none;
  padding: 1em;
  font-weight: bold;
  background-color: rgb(241, 206, 149);
  transition: 250ms;
  font-size: 1.1rem;
}
.form-button:hover {
  cursor: pointer;
  color: rgb(240, 240, 240);
  background-color: rgb(97, 38, 4);
}
/********************** 
    LOGIN PAGE STYLES
***********************/
.login-main {
  display: grid;
  place-items: center;
}
/********************** 
  REGISTER PAGE STYLES
***********************/
.register-main {
  display: grid;
  place-items: center;
}